<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>mytranslator.login.LoginListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>mytranslator.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>translate</servlet-name>
        <servlet-class>mytranslator.translator.TranslateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usernameValidate</servlet-name>
        <servlet-class>mytranslator.usermanagement.UsernameValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>mytranslator.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>mytranslator.usermanagement.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUser</servlet-name>
        <servlet-class>mytranslator.usermanagement.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>mytranslator.usermanagement.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mytranslator.usermanagement.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCity</servlet-name>
        <servlet-class>mytranslator.usermanagement.LoadCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>typeaheadUsername</servlet-name>
        <servlet-class>mytranslator.usermanagement.TypeaheadUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadGroup</servlet-name>
        <servlet-class>mytranslator.usermanagement.LoadGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userPermission</servlet-name>
        <servlet-class>mytranslator.usermanagement.UserPermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paginationTable</servlet-name>
        <servlet-class>mytranslator.pagination.PaginationTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPagination</servlet-name>
        <servlet-class>mytranslator.pagination.SearchPagination</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>translate</servlet-name>
        <url-pattern>/TranslateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usernameValidate</servlet-name>
        <url-pattern>/UsernameValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCity</servlet-name>
        <url-pattern>/LoadCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>typeaheadUsername</servlet-name>
        <url-pattern>/TypeaheadUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadGroup</servlet-name>
        <url-pattern>/LoadGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userPermission</servlet-name>
        <url-pattern>/UserPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paginationTable</servlet-name>
        <url-pattern>/PaginationTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPagination</servlet-name>
        <url-pattern>/SearchPagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
